---
import Layout from '../layouts/Layout.astro';
import CustomCursor from '../components/CustomCursor.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import LogoTicker from '../components/LogoTicker.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Experience from '../components/Experience.astro';
import Portfolio from '../components/Portfolio.astro';
import Testimonial from '../components/Testimonial.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
import ScrollAnimations from '../components/ScrollAnimations.astro';
---

<Layout>
  <CustomCursor />
  <Navbar />
  <main>
    <Hero />
    <LogoTicker />
    <About />
    <Services />
    <Experience />
    <Portfolio />
    <Testimonial />
    <CallToAction />
  </main>
  <Footer />
  <ScrollAnimations />
</Layout>
